@inject ISyncLocalStorageService LocalStorage
@inject ICartService1 CartService1
@implements IDisposable

<a href="cart" class="btn btn-info">
    <i class="oi oi-cart"></i>
    <span class="badge">@GetProductCount()</span>
</a>

@code {

    //gets number of items in cart
    private int GetProductCount()
    {
        var cart = LocalStorage.GetItem<List<Product>>("cart");
        return cart != null ? cart.Count : 0;
    }

    protected override void OnInitialized()
    {
        CartService1.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService1.OnChange -= StateHasChanged;
    }

}
