@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-2">
            <HomeButton />
            <Search />
            <CartCounter />
        </div>

        <div class="map">
            <a href="map" style="padding-right:10px"><i class="oi oi-map"></i>All Booked Up Store Locations</a>
        </div>

        <div class="nav-menu">
            <ShopNavMenu />
        </div>

        <div class="content px-2">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts/>
